<nav class="nav absolute top-0 right-0 px-5 left-0 h-[50px] flex justify-between items-center text-blue-400 bg-blue-100">
  <span style="display: flex; align-items: center;">
    <button class="font-bold" routerLink="/operator" style="margin-right: 10px;">DS Polyclinic</button>
    <button mat-flat-button id="bt" routerLink="/operator">Все клиенты</button>
  </span>

  <span class="d">
    <a routerLink="/conflict" matBadgeColor="warn" matBadgeSize="medium" class="mr-10 demo-section" matBadge="{{signalRService.data.length}}"
      matBadgeOverlap="false" style="margin-top: 4px;"><mat-icon >notifications_none</mat-icon></a>
  </span>
  <span>
    <button id="bt" mat-flat-button [matMenuTriggerFor]="menu">
      <span class="material-icons">menu</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-button routerLink="/personalaccount">Личный кабинет</button><br>
      <button mat-button routerLink="/login">Выйти</button>
    </mat-menu>
  </span>

</nav>
