h5 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 300%;
    color: black;
}

h2 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 100;
}

div.ctr {
    text-align: center;
}

div.enter {
    text-align: right;
}

button {
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
}

