h5 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 300%;
}

h2 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 100%;
    font-weight: 100;
}

div.ctr {
    text-align: center;
}

div.enter {
    text-align: right;
}

button {
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
}

#bt {
    margin-right: 2px;
    background-color: rgb(167, 139, 250);
    color: white;
}