<div class="enter">
    <button mat-raised-button>Главная<mat-icon>home</mat-icon></button>
</div>
<h5 align="center">Добро пожаловать в DS Policlinic</h5>
<div class="ver">
    <h3 align="center">Авторизация</h3>
    <p align="center">
        <mat-form-field appearance="fill">
        <mat-label class="inp">Введите логин</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>visibility_off</mat-icon>
        </mat-form-field>
    </p>
    <p align="center">
        <mat-form-field appearance="fill">
        <mat-label class="inp">Введите пароль</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>visibility_off</mat-icon>
        </mat-form-field>
    </p>
    <br>
    <button mat-raised-button>Войти</button>
    <br><br>
</div>