h5 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 300%;
    color: black;
}

h3 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 200%;
    color: black;
    font-weight: 100;
}

div.ver {
    background-color: rgba(235, 232, 240, 2.997);
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    border-radius: 0 10px;
}

div.enter {
    text-align: right;
}

button {
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
}

.inp {
    font-family: 'Gill Sans', sans-serif;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.621);
}
