div.top {
    background-color: rgba(226, 130, 170, 0.518);
    padding: 1%;
    display: flex;
}

.inp {
    font-family: 'Gill Sans', sans-serif;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.621);
}

.r {
    margin-left: 85%;
}