<div class="absolute top-0 right-0 px-5 left-0 h-[50px] flex justify-between items-center text-white bg-gray-500">
    <h1 class="font-bold">DS Polyclinic</h1>

    <span>
        <p>Личный кабинет</p>
    </span>
</div>

<div class="mt-40">
<div class="ver">
    <p align="center">
        Имя оператора: Виктор
    </p>
    <p align="center">
        Фамилия оператора: Никифоров
    </p>
    <p align="center">
        Отчество оператора: Юрьевич
    </p>
    <br>
</div>
<img src="http://v1.popcornnews.ru/k2/news/1200/upload/wcTTcx.jpg" alt="Фото" class="photo">
</div>
<!--<div class="container">
    <div class="frame">
      <p>Фамилия: Никифоров</p>
      <p>Имя: Виктор</p>
      <p>Отчество: Юрьевич</p>
    </div>
</div>-->
<!-- flex justify-center items-center mt-10 border-2 mr-auto-->