<div class="absolute top-0 right-0 px-5 left-0 h-[50px] flex justify-between items-center text-blue-400 bg-blue-100">
    <button routerLink="" class="font-bold">DS Polyclinic</button>

    <span>
        <p class="font-bold">Личный кабинет</p>
    </span>
</div>

<div class="mt-40">
<div class="ver text-white font-bold">
    <p align="center">
       ФИО: Никифоров Виктор Юрьевич
    </p>
</div>
<div class="circle">
<img src="http://v1.popcornnews.ru/k2/news/1200/upload/wcTTcx.jpg">
</div>
</div>
<button mat-flat-button id="bt" routerLink="/operator">Выйти</button>
